@charset "utf-8";
.Notice {
	display: none;
	text-align: center;
	color: #f00;
	font-size: 1vw;
	padding-top: 1vw;
}
	.Notice.active {
		display: block;
	}
html, body {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family: "PingFang TC", "Roboto", "Noto Sans TC", "sans-serif", "Microsoft JhengHei", "微軟正黑體", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 16px;
	background: #fafafa;
	font-size: 16px;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	color: #202020;
}
.simple-header {
	background-color: #FFF;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 99;
}
.simple-header .simple-header-logo {
	display: block;
	width: 125px;
	margin-right: auto;
	margin-left: auto;
}
.simple-logo-img {
	display: block;
	width: 100%;
}
.simple-footer {
	font-family: "PingFang TC", "Noto Sans TC", "Roboto", "Microsoft JhengHei", "微軟正黑體", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 16px;
	color: white;
	background: #232323;
	padding-top: 32px;
	padding-right: 0;
	padding-bottom: 32px;
	padding-left: 0;
}
.simple-footer .simple-footer-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;
}
.simple-footer .simple-footer-logo {
	position: absolute;
	left: 10px;
	top: 0px;
	display: block;
	width: 93px;
}
.simple-footer .simple-footer-info {
	font-size: 18px;
	line-height: 1.8rem;
	color: #8A8A8A;
	padding-left: 120px;
	padding-top: 8px;
}
.mb10 { margin-bottom: 10px !important; }
.mt10 { margin-top: 10px !important; }
.pt0 { padding-top: 0 !important; }
.main {
	display: block;
	min-height: calc(100vh - 100px);
	padding-top: 60px;
	overflow: hidden;
}
 @media screen and (max-width: 768px) {
.simple-header .simple-header-logo { width: 100px; }
.simple-footer .simple-footer-logo {
	position: relative;
	left: auto;
	top: auto;
	display: block;
	width: 93px;
	margin-right: auto;
	margin-left: auto;
}
.simple-footer .simple-footer-info {
	text-align: center;
	padding-left: 0px;
	padding-top: 18px;
}
.simple-footer .simple-footer-txt { display: none; }
}
.kv {
	background-image: url(../images/banner.jpg);
	font-size: 16px;
	box-sizing: border-box;
	padding: 40px 0;
	position: relative;
	overflow: hidden;
	z-index: 3;
	padding-top: 0;
	color: #000;
	background-size: cover;
	background-position: 50%;
	margin-top: 0;
	min-height: 300px;
	height: 300px;
}
.kv.small-kv {
	min-height: 140px;
	height: 140px;
	background-image: url(../images/banner2.jpg);
}
.inside-container {
	font-size: 16px;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: auto;
	margin-top: 35px;
}
.inside-container h1 {
	font-weight: 600;
	font-size: 2.625rem;
	line-height: 3.9rem;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
	text-align: left;
}
.kv-script { margin-left: 70px; }
.kv-script p {
	font-size: 1.2rem;
	margin: 0;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
.kv-script ul {
	margin: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.kv-script ul li {
	margin-bottom: 3px;
	font-weight: 500;
	text-indent: -1rem;
	margin-left: 1rem;
	font-size: 0.8rem;
}
.kv-script ul ul { margin-left: -0.3rem; }
.kv-script ul ul li {
	margin-left: 1rem;
	text-indent: -1.1rem;
}
.form-area { margin-top: 45px; }
.form-area.success-page { margin-top: 0; }
.ribbon-bg {
	background-image: url(../images/10001.png);
	background-size: 100% auto;
	background-repeat-x: no-repeat;
	width: 100%;
	height: auto;
	position: relative;
}
.area-title {
	margin: 0 0 20px;
	border-bottom: 0;
}
.area-title h2 {
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 54px;
	margin: 0;
}
.area-title-script {
	font-size: 20px;
	margin-bottom: 20px;
}
.container-inside {
	position: relative;
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
	background-color: #fafafa;
}
.form-list-group {
	margin: 0 0 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 54px;
}
.radio-group {
	display: flex;
	flex-wrap: wrap;
}
.radio-group label {
	font-weight: 500;
	min-height: 28px;
	font-size: 20px;
	position: relative;
	margin: 0 12px 30px 0;
	text-align: center;
	display: flex;
	width: calc(33.3333333% - 12px);
	margin-right: 12px;
	min-width: 400px;
}
.radio-group.slider-area label {
	width: 200px;
	min-width: 200px;
}
.radio-group input[type=radio] {
	position: absolute;
	opacity: 0;
	left: 0;
}
.radio-group input[type=radio]+.radio-content {
	border: 2px solid rgba(47,89,196,.2);
	transition: all .3s ease;
	background-color: #fff;
	flex: 1 1;
	display: flex;
	align-items: center;
	line-height: 80px;
	height: 80px;
}
.radio-group input[type=radio]:checked+.radio-content {
	border-color: #f05c38;
	color: #202020;
}
.radio-group input[type=radio]+.radio-content:before {
	content: "";
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 16px;
	background: transparent;
	opacity: 1;
	border: 2px solid #e8ecf0;
	transition: all .3s ease;
	top: 12px;
	left: 12px;
	bottom: auto;
}
.radio-group input[type=radio]+.radio-content:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background: #fff;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	transition: all .3s ease;
	top: 22px;
	left: 22px;
	bottom: auto;
}
.radio-group input[type=radio]:checked+.radio-content:before {
	background: #f05c38;
	border-color: #f05c38;
}
.radio-group input[type=radio]:checked+.radio-content:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.checkbox-group {
	display: flex;
	flex-wrap: wrap;
}
.checkbox-group label {
	font-weight: 500;
	min-height: 28px;
	font-size: 20px;
	position: relative;
	margin: 0 12px 30px 0;
	text-align: center;
	display: flex;
	width: calc(33.3333333% - 12px);
	margin-right: 12px;
	min-width: 400px;
}
.checkbox-group.slider-area label {
	width: 250px;
	min-width: 200px;
}
.checkbox-group input[type=checkbox] {
	position: absolute;
	opacity: 0;
	left: 0;
}
.checkbox-group input[type=checkbox]+.radio-content {
	border: 2px solid rgba(47,89,196,.2);
	transition: all .3s ease;
	background-color: #fff;
	flex: 1 1;
	display: flex;
	align-items: center;
	line-height: 80px;
	height: 80px;
}
.checkbox-group input[type=checkbox]:checked+.radio-content {
	border-color: #f05c38;
	color: #202020;
}
.checkbox-group input[type=checkbox]+.radio-content:before {
	content: "";
	display: block;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	margin-bottom: 10px;
	background: transparent;
	border: 2px solid #E8ECF0;
	transition: all 0.3s ease;
	position: absolute;
	margin: auto;
	left: 6px;
	top: 12px;
	bottom: auto;
}
.checkbox-group input[type=checkbox]+.radio-content:after {
	top: 15px;
	left: 8px;
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	background-image: url(../images/hook.png);
	z-index: 2;
}
.checkbox-group input[type=checkbox]:checked+.radio-content:before {
	background: #f05c38;
	border-color: #f05c38;
}
.checkbox-group input[type=checkbox]:checked+.radio-content:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.radio-content-inner {
	font-weight: 400;
	font-size: 1rem;
	text-align: left;
	color: #202020;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: calc(100% + 16px);
	margin: -8px;
}
.radio-content-txt {
	text-align: center;
	flex-basis: 100%;
}
.custom-area {
	font-size: 1.15rem;
	transition: all .3s ease;
	background-color: #fafafa;
	text-align: left;
	display: none;
	justify-items: center;
	padding: 0;
}
.custom-area2 {
	font-size: 1.15rem;
	transition: all .3s ease;
	background-color: #fafafa;
	text-align: left;
	display: none;
	justify-items: center;
	padding: 0;
}
.grid-area {
	display: flex;
	flex-wrap: wrap;
}
.all-grid {
	display: flex;
	width: calc(60% - 12px);
	margin-right: 12px;
}
.half-grid {
	display: flex;
	width: calc(50% - 12px);
	margin-right: 12px;
}
.long-grid {
	display: flex;
	width: calc(33.3333333% - 12px);
	margin-right: 12px;
	min-width: 400px;
}
.short-grid {
	display: flex;
	width: calc(12% - 12px);
	margin-right: 12px;
	min-width: 120px;
}
.form-group { width: 100%; }
.form-group-gap { margin-bottom: 30px; }
.form-group label {
	font-weight: 500;
	margin-bottom: 18px;
	min-height: 28px;
	font-size: 20px;
	display: flex;
}
.sub-script {
	font-size: 16px;
	color: #5F6D84;
	line-height: 30px;
	margin-left: 8px;
}
.form-group input {
	box-sizing: border-box;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;
	min-width: 100%;
	max-width: 100%;
	color: #202020;
	left: 0;
	font-size: 16px;
	padding: 12px 36px 12px 12px;
	width: 100%;
	border: 2px solid #e8ecf0;
	background-color: #FFF;
}
select {
	padding: 12px 36px 12px 12px;
	width: 100%;
	border: 2px solid #e8ecf0;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/downdrop.png) no-repeat #FFF;
	background-size: 18px 10px;
	background-position: bottom 15px right 10px;
	color: #202020;
}
select::-ms-expand {
 display: none;
}
select:focus { outline: none !important; }
@media screen and (min-width:0\0) {
 select {
 background: none\9;
 padding: 5px\9;
}
}
.agree-checkbox-area input.agree-checkbox { display: none; }
.agree-checkbox-area input.agree-checkbox+.checkbox-content:before {
	content: "";
	display: block;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	margin-bottom: 10px;
	background: transparent;
	border: 2px solid #e8ecf0;
	transition: all .3s ease;
	float: left;
	cursor: pointer;
	z-index: 1;
}
.agree-checkbox-area input.agree-checkbox+.checkbox-content:after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	top: -24px;
	left: 2px;
	opacity: 0;
	transition: all .3s ease;
	cursor: pointer;
	position: relative;
	background-image: url(../images/hook.png);
	z-index: 2;
}
.agree-checkbox-area input.agree-checkbox:checked+.checkbox-content:before {
	background: #f05c38;
	opacity: 1;
	border-color: #f05c38;
}
.agree-checkbox-area input.agree-checkbox:checked+.checkbox-content:after { opacity: 1; }
.checkbox-content { font-size: 16px; }
.steps-bar {
	width: 100%;
	height: 80px;
	z-index: 99;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}
.steps-bar-container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 1;
	background-color: rgba(32,32,32,0.3);
	z-index: 0;
}
.steps-bar-preview {
	padding: 0;
	width: 100%;
	background: #fff;
	bottom: 0;
	left: 0;
	box-shadow: 0 -18px 36px 0 rgba(75,88,105,0.24);
	z-index: 1;
	position: relative;
}
.fui-container {
	position: relative;
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}
.fui-cart-container {
	display: flex;
	align-items: center;
	align-content: center;
	padding: 15px 0;
}
.column {
	display: flex;
	flex: 1 1 auto;
	text-align: right;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.column:last-child { justify-content: end; }
.steps-area {
	display: flex;
	align-items: center;
	align-content: center;
}
.step-item {
	position: relative;
	color: #fff;
	background: #D6D6D6;
	display: inline-block;
	width: auto;
	height: 28px;
	line-height: 0;
	padding: 0px 20px;
	border-radius: 50px;
	margin-right: 18px;
	text-align: center;
}
.step-item .text {
	line-height: 28px;
	vertical-align: middle;
}
.step-item.step-active { background: #5F6E84; }
.step-item::after {
	content: "";
	position: absolute;
	width: 18px;
	height: 1px;
	background: #D6D6D6;
	top: 0;
	bottom: 0;
	margin: auto;
	right: -18px;
}
.step-item:last-child { margin: 0; }
.step-item:last-child::after { display: none; }
.button-submit {
	outline: 0;
	position: relative;
	display: inline-block;
	border: 0;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 0;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 50px;
	padding: 0 40px;
	color: #fff;
	background: #d3060f;
	min-width: 220px;
}
.button-submit::after {
	content: "⇀";
	speak: none;
	position: absolute;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	transform: translateX(-5px);
	background-size: contain;
	transition: all 0.3s ease;
	opacity: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 28px;
}
.button-submit:hover { background: #ef3123; }
.button-submit:hover::after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.back-home {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 8px;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 50px;
	padding: 0;
	color: #000000;
	background: #FFF;
	width: 110px;
	border: #BFBFBF 2px solid;
}
.back-home:hover {
	border: #d3060f 2px solid;
	color: #d3060f;
}
.button-add {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 8px;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 50px;
	padding: 0;
	color: #202020;
	background: #FFF;
	width: 220px;
	border: #202020 2px solid;
}
.button-add:hover {
	border: #d3060f 2px solid;
	color: #d3060f;
}
.commodity-pic img {
	width: 100%;
	max-width: 292px;
}
 @media screen and (max-width: 1200px) {
.container-inside {
	padding: 0 15px;
	width: auto;
}
.fui-container {
	padding: 0 15px;
	width: auto;
}
.slick-slider { padding-right: 15px; }
.commodity-pic-slider.slick-slider { padding-right: 0px; }
.nop { padding: 0 !important; }
}
 @media screen and (max-width: 1000px) {
.kv {
	height: auto;
	background-image: url(../images/banner_m.jpg);
}
.inside-container {
	display: block;
	position: relative;
}
.kv-script {
	margin-left: 0px;
	text-align: left;
	margin: 20px auto;
	display: inline-block;
}
.radio-group label {
	width: calc(47% - 6px);
	min-width: inherit;
}
.checkbox-group label {
	width: calc(47% - 6px);
	min-width: inherit;
}
.long-grid {
	width: calc(47% - 6px);
	min-width: inherit;
}
.short-grid {
	display: flex;
	width: calc(12% - 12px);
	margin-right: 12px;
	min-width: 120px;
}
.column:first-child { justify-content: left; }
.column:last-child { justify-content: right; }
.forcont .column { justify-content: space-between; }
.forcont .column:last-child { justify-content: end; }
}
@media screen and (max-width: 768px) {
.commodity-pic img {
	width: 100%;
	max-width: inherit;
}
.slick-slider { padding-right: 0px; }
.inside-container h1 { font-size: 2.3rem; }
.container-inside {
	padding: 0 15px;
	width: auto;
}
.radio-group label {
	width: 47%;
	min-width: inherit;
	margin: 0;
	margin-right: 6px;
}
.radio-group label:last-child {
	width: 47%;
	min-width: inherit;
	margin: 0;
	margin-left: 6px;
}
.checkbox-group label {
	width: 47%;
	min-width: inherit;
	margin: 0;
	margin-right: 6px;
}
.checkbox-group label:last-child {
	width: 47%;
	min-width: inherit;
	margin: 0;
	margin-left: 6px;
}
.grid-area { margin-right: 0px; }
.long-grid {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
.short-grid { margin-bottom: 15px; }
.radio-group { margin-bottom: 20px; }
.checkbox-group { margin-bottom: 20px; }
.form-group-gap { margin-bottom: 0; }
.fui-cart-container { display: block; }
.forcont .fui-cart-container { display: flex; }
.column:first-child { margin-bottom: 20px; }
.forcont .column:first-child { margin-bottom: 0px; }
.step-item {
	width: 14px;
	height: 14px;
	padding: 0;
	margin-right: 9px;
}
.step-item.step-active {
	width: auto;
	height: 22px;
	padding: 0 10px;
}
.step-item::after {
	width: 9px;
	right: -9px;
}
.step-item .text { display: none; }
.step-item.step-active .text {
	display: inline-block;
	font-size: 12px;
	line-height: 22px;
}
.button-submit { min-width: 200px; }
.back-home { min-width: 100px; }
.column:first-child { justify-content: space-between; }
.button-add-area { text-align: center; }
.column:last-child { justify-content: center; }
.all-grid {
	width: 100%;
	margin-right: 0;
}
.calendar .short-grid {
	width: calc(33.333333333% - 12px);
	margin-right: 12px;
	min-width: 100px;
}
.calendar .short-grid:last-child { margin-right: 0; }
.mp20 { margin: 30px auto; }
.shop-cart-list { margin-bottom: 50px; }
.checkbox-group input[type=checkbox]+.radio-content:before {
	width: 20px;
	height: 20px;
	left: 6px;
	top: 12px;
	bottom: auto;
}
.checkbox-group input[type=checkbox]+.radio-content:after {
	top: 15px;
	left: 8px;
	width: 20px;
	height: 20px;
	background-size: cover;
}
}
.radio-group2 {
	display: flex;
	flex-wrap: wrap;
}
.radio-group2 label {
	font-weight: 500;
	height: 46px;
	font-size: 20px;
	position: relative;
	margin: 0;
	text-align: center;
	display: flex;
	margin-right: 25px;
	min-width: 80px;
}
.radio-group2 input[type=radio] {
	position: absolute;
	opacity: 0;
	left: 0;
}
.radio-group2 .radio-content-txt {
	margin-left: 50px;
	text-align: left;
}
.radio-group2 input[type=radio]+.radio-content {
	transition: all .3s ease;
	flex: 1 1;
	display: flex;
	align-items: center;
}
.radio-group2 input[type=radio]:checked+.radio-content {
	border-color: #f05c38;
	color: #202020;
}
.radio-group2 input[type=radio]+.radio-content:before {
	content: "";
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 16px;
	background: transparent;
	opacity: 1;
	border: 2px solid #e8ecf0;
	transition: all .3s ease;
	top: 8px;
	left: 0px;
	bottom: auto;
}
.radio-group2 input[type=radio]+.radio-content:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background: #fff;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	transition: all .3s ease;
	top: 18px;
	left: 10px;
	bottom: auto;
}
.radio-group2 input[type=radio]:checked+.radio-content:before {
	background: #f05c38;
	border-color: #f05c38;
}
.radio-group2 input[type=radio]:checked+.radio-content:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gap10 { margin-bottom: 10px; }
.sp-txt { color: #8C0000 }
.slick-prev, .slick-next {
	width: 30px;
	height: 70px;
	z-index: 1;
}
.slick-prev:before, .slick-next:before {
	display: block;
	width: 30px;
	height: 70px;
	margin-top: -25px;
}
.slick-prev { left: -50px; }
.slick-prev:before {
	content: '';
	background-image: url("../images/arrow_l.png")
}
.slick-next { right: -50px; }
.slick-next:before {
	content: '';
	background-image: url("../images/arrow_r.png")
}
.slick-slide { margin: 0 27px; }
.slick-list { margin: 0 -27px; }
@media (max-width: 1280px) {
.slick-prev { left: -30px; }
.slick-next { right: -30px; }
}
@media (max-width: 1200px) {
.slick-prev { left: -15px; }
.slick-next { right: 0px; }
.slick-slide { margin: 0 10px; }
.slick-list { margin: 0 -10px; }
}
@media (max-width: 768px) {
.slick-prev:before, .slick-next:before { margin-top: 0; }
.slick-next { right: -20px; }
.slick-prev { left: -20px; }
.radio-group.slider-area label:last-child { margin-left: 0; }
.half-grid {
	width: 100%;
	margin-right: 0px;
}
}
.light-list-area {
	background-color: #FFF;
	border: #E5EAEE 2px solid;
	width: 100%;
	margin-bottom: 12px;
}
.light-list-area-inner { margin: 30px 25px; }
.light-list-area-line1 {
	display: flex;
	align-items: center;
	align-content: center;
	padding-bottom: 30px;
}
.line1-left {
	display: flex;
	flex: 1 1 auto;
	text-align: right;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	font-size: 20px;
}
.button-edit {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 10px;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 35px;
	padding: 0;
	color: #000000;
	background: #FFF;
	width: 95px;
	border: #000 2px solid;
}
.button-edit:last-child { margin-right: 0px; }
.line1-right {
	display: flex;
	flex: 1 1 auto;
	text-align: right;
	justify-content: end;
	align-content: center;
	align-items: center;
}
td:first-child {
	width: 150px;
	text-align: right;
}
.paper {
	margin-bottom: 30px;
	background: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(75, 88, 105, 0.12);
	position: relative;
	z-index: 1;
	padding: 30px 25px;
	padding-bottom: 40px;
}
h4 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	margin-bottom: 25px;
}
.subtitle {
	font-weight: 500;
	margin-bottom: 18px;
	min-height: 28px;
	font-size: 20px;
	display: block;
}
.flex-row {
	display: flex;
	margin-bottom: 25px;
}
.input-text {
	box-sizing: border-box;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;
	color: #202020;
	left: 0;
	font-size: 16px;
	padding: 12px 36px 12px 12px;
	width: 223px;
	border: 2px solid #E5EAEE;
	margin-right: 15px;
}
.input-text.creditcard {
	width: 90px;
	margin-right: 0;
}
.button-bw {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 0;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 50px;
	padding: 0;
	color: #000;
	background: #FFF;
	width: 160px;
	border: #000 2px solid;
}
.button-bw:hover {
	border: #d3060f 2px solid;
	color: #d3060f;
}
.button-red {
	outline: 0;
	position: relative;
	display: inline-block;
	border: 0;
	font-size: 1rem;
	text-align: center;
	opacity: 1;
	vertical-align: top;
	font-weight: 600;
	margin-right: 0;
	transition: all .3s ease;
	line-height: 0;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #d3060f;
	width: 160px;
}
.button-red::after {
	content: "⇀";
	speak: none;
	position: absolute;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	transform: translateX(-5px);
	background-size: contain;
	transition: all 0.3s ease;
	opacity: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 28px;
}
.button-red:hover { background: #ef3123; }
.button-red:hover::after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.money { margin-top: 25px; }
.long-input { width: 400px; }
select.long-input { background-position: bottom 15px right 15px; }
.total-area h4 {
	border-bottom: #D6D6D6 2px solid;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.allwidth { width: 100%; }
.nopadding { padding: 0; }
.main.total-page { margin-bottom: 80px; }
.total-area { background-color: #fafafa; }
.all-money-area { margin-top: 20px; }
.all-money {
	color: #EE3122;
	font-size: 24px;
}
.all-money-txt {
	color: #000;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 7px;
}
.total-area-bar p {
	margin: 0;
	padding: 0;
	font-size: 36px;
	margin-right: 25px;
	color: #000;
}
.total-area-bar p span {
	font-size: 16px;
	margin-right: 15px;
	vertical-align: super;
}
@media (max-width: 1200px) {
.allwidth { width: auto; }
}
 @media (max-width: 768px) {
.area-title h2 {
	font-size: 26px;
	line-height: 30px;
}
.forcont .back-home {
	width: 94px;
	height: 34px;
	margin-right: 0;
}
.input-text {
	width: 50%;
	margin-right: 6px;
	padding: 12px 6px;
}
.button-bw, button-red {
	width: 50%;
	margin-left: 6px;
}
.radio-group2 label {
	width: 50%;
	margin-right: 0;
}
.page2 .radio-group2 label {
	width: 25%;
	margin-right: 0;
}
.input-text.long-input {
	width: 100%;
	margin-right: 0;
}
.total-area-button .button-submit {
	width: 120px;
	height: 50px;
	min-width: 120px;
	padding: 0 20px;
}
.total-area-button .button-submit::after {
	font-size: 24px;
	right: 0;
}
.fui-container, .area-title .fui-container {
	width: auto;
	padding: 0 15px;
}
#tabs .fui-container, .area-title .fui-container { padding: 0; }
.button-edit { width: 70px; }
}
.success-pay {
	text-align: center;
	padding: 100px 15px 70px 15px;
}
.success-pay-pic img {
	width: 220px;
	margin-bottom: 40px;
}
.success-pay-title {
	font-size: 36px;
	font-weight: bold;
	color: #000;
}
.success-pay-script p {
	margin-bottom: 25px;
	color: #5F6C84;
}
.success-pay-button .button-red {
	width: 220px;
	height: 50px;
}
#creditcard-focus {
	font-size: 30px;
	padding: 0 1px;
}
.long-grid.creditcard-date {
	width: 264px;
	margin-right: 0;
	min-width: inherit;
}
.logo img {
	height: 40px;
	margin-right: 8px;
}
 @media (max-width: 768px) {
.input-text.creditcard {
	width: 65px;
	margin-right: 0;
	padding: 5px;
}
.long-grid.creditcard-date { width: 184px; }
.long-grid.creditcard-date .short-grid {
	width: 80px;
	min-width: inherit;
}
.long-grid.creditcard-date .grid-area { margin-right: 0; }
#input-check {
	width: 80px;
	min-width: inherit;
}
}
.light-list-area-line3 {
	font-size: 20px;
	color: #000;
	text-align: right;
}
.light-list-area-line3 span {
	color: #ED3121;
	margin-right: 10px;
}
.button-add-area.noborder { text-align: center }
.button-add-area.noborder .button-add {
	border: none;
	background-color: transparent;
	width: 100%;
}
#tabs ul {
	font-size: 0;
	position: relative;
	padding: 0;
	width: 100%;
	margin: 0 auto 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-bottom: #D6D6D6 4px solid;
}
#tabs li {
	display: inline-block;
	text-align: center;
}
#tabs li a {
	display: inline-block;
	width: 80px;
	height: 50px;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	font-size: 1rem;
	line-height: 50px;
	color: #202020;
	position: relative;
	margin-bottom: -4px;
}
#tabs li.act a {
	color: #EF3123;
	border-bottom: #ef3123 4px solid;
	z-index: 999;
}
.ui-tabs { margin-bottom: 50px; }
.commodity-area {
	display: flex;
	overflow: visible;
	white-space: normal;
	flex-wrap: wrap;
	padding: 0px 15px 30px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 -8px;
}
.commodity-block {
	box-shadow: 0 6px 12px 0 rgba(75,88,105,0.12) !important;
	transition: all 0.3s ease;
	position: relative;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 0 6px 50px;
	width: calc(25% - 12px);
}
.commodity-block:hover { box-shadow: 0 18px 36px 0 rgba(75,88,105,0.18) !important; }
.commodity-pic-slider {
	width: 100%;
	padding-bottom: 0;
}
.commodity-pic-slider .slick-prev:before, .commodity-pic-slider .slick-next:before { margin-top: 0px; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: 0;
	cursor: default;
}
.commodity-pic-slider .slick-prev { left: 0px; }
.commodity-pic-slider .slick-next { right: 0px; }
@media (max-width: 1280px) {
.commodity-pic-slider .slick-prev { left: 0px; }
.commodity-pic-slider .slick-next { right: 0px; }
}
@media (max-width: 1200px) {
.commodity-pic-slider .slick-prev { left: 0px; }
.commodity-pic-slider .slick-next { right: 0px; }
}
@media (max-width: 1000px) {
}
@media (max-width: 768px) {
.commodity-pic-slider .slick-next { right: 0px; }
.commodity-pic-slider .slick-prev { left: 0px; }
.commodity-block {
	width: calc(100% - 12px);
	margin-bottom: 24px;
}
.commodity-pic-slider {
	width: 100%;
	margin: 0 auto;
}
.commodity-pic-slider img {
	width: 100%;
	max-width: inherit;
}
}
.commodity-detail {
	flex-direction: column;
	flex: 1 1 auto;
	padding: 30px 25px 25px;
}
.commodity-detail-area1 {
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
}
.commodity-detail-area2 {
	font-size: 20px;
	color: #000;
	margin-bottom: 25px;
}
.commodity-detail-area2 span {
	font-size: 24px;
	color: #EC3120;
}
.commodity-detail-button .button-red { width: 100%; }
.shop-cart .column {
	display: flex;
	flex: 1 1 auto;
	text-align: right;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
.shop-cart .column:last-child {
	display: flex;
	flex: 1 1 auto;
	text-align: right;
	justify-content: end;
	align-content: center;
	align-items: center;
}
.shop-cart-title { margin-right: 10px; }
.shop-cart .step-item {
	background: #5F6E84;
	padding: 0px 16px;
}
.alert { display: none; }
.alert:target {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999999;
}
.alert figcaption {
	width: 220px;
	height: 150px;
	position: relative;
	padding: 25px;
	background-color: #FFF;
}
.alert figcaption h3 {
	display: block;
	height: 100px;
	line-height: 80px;
	color: #000;
	font-size: 36px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
.alert .close {
	position: relative;
	display: block;
	width: 100%;
}
.alert figure::before {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.7);
	content: "";
	cursor: default
}
a.button-red { text-decoration: none; }
@media (max-width: 768px) {
.kv.small-kv { background-image: url(../images/banner_m2.jpg); }
.kv.small-kv .inside-container { text-align: left; }
.form-area.shopping { margin-top: 0; }
.form-area.shopping .container-inside { padding: 0; }
#tabs ul { border-bottom: none; }
#tabs li { width: calc(100vw/5); }
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 { padding: 0 20px; }
#tabs li a {
	width: calc(100vw/5);
	border-bottom: #D6D6D6 4px solid;
}
#tabs .slider { display: none; }
.shop-cart .step-item {
	width: 10px;
	height: 28px;
}
.shop-cart .step-item .text { display: inline-block; }
.shop-cart .button-area { width: 100%; }
.shop-cart .button-area .button-submit {
	min-width: inherit;
	width: 100%;
}
.commodity-area { padding-bottom: 15px; }
#tabs { margin-bottom: 80px; }
.mgap20 { margin-bottom: 20px; }
.mgap30 { margin-bottom: 30px; }
.mw { width: 100% !important; }
.sp-txt { margin: 0; }
}
.shop-cart-list-block {
	background-color: #EFF1F2;
	height: 100px;
	margin-bottom: 15px;
}
.shop-cart-list-block .fui-container { width: 100%; }
.shop-cart-list-block .fui-cart-container {
	align-items: center;
	align-content: center;
	padding: 0;
}
.shop-cart-list-block .column {
	text-align: left;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
.shop-cart-list-block .column:last-child { justify-content: end; }
.shop-cart-list-block-pic { margin-right: 40px; }
.shop-cart-list-block-pic img {
	height: 100px;
	width: 142px
}
.shop-cart-list-block-quantity .quantity {
	box-sizing: border-box;
	outline: none;
	width: 100%;
	display: flex;
}
.shop-cart-list-block-quantity .amount {
	font-size: 1.25rem;
	flex: 1 1 auto;
	text-align: center;
	border: none;
	border-top: 2px solid #E8ECF0;
	border-bottom: 2px solid #E8ECF0;
	display: inline-block;
	width: 70px;
	margin: 0;
	line-height: 0;
	height: 40px;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #FFF;
}
.shop-cart-list-block-quantity .minus, .shop-cart-list-block-quantity .plus {
	text-align: center;
	border: 2px solid #E8ECF0;
	display: inline-block;
	margin: 0;
	height: 40px;
	box-sizing: border-box;
	vertical-align: middle;
	width: 40px;
	line-height: 36px;
	background-color: #FFF;
	color: #BEBEBE;
	font-size: 30px;
}
.shop-cart-list-block-price {
	width: 130px;
	text-align: right;
	font-size: 20px;
	color: #000;
}
.shop-cart-list-block-price span {
	font-size: 24px;
	color: #ED3121;
}
.shop-cart-list-block-del {
	width: 74px;
	text-align: center;
}
.shop-cart-list-block-del img {
	cursor: pointer;
	margin-top: 5px;
}
@media (max-width: 768px) {
.shop-cart-list-block {
	height: auto;
	margin-bottom: 30px;
}
.shop-cart-list-block .column:last-child { justify-content: flex-start; }
.shop-cart-list-block-quantity .amount { width: 64px; }
.shop-cart-steps-bar .column:last-child { display: block; }
.shop-cart-list-block-quantity .quantity { width: auto; }
.shop-cart-steps-bar .button-area button {
	width: calc(50% - 12px);
	min-width: inherit;
}
.shop-cart-list-block-quantity .minus, .shop-cart-list-block-quantity .plus { font-size: 15px; }
}
.people .people-area {
	margin-top: 50px;
	padding-top: 40px;
	border-top: #CCC 1px solid;
}
.people .people-area:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: none;
}
.people-info {
	font-size: 22px;
	font-weight: bold;
}
.space-row {
	display: flex;
	margin-bottom: 25px;
}
.space-row .button-red {
	font-weight: 500;
	cursor: default;
}
.space-row .button-red:hover { background: #d3060f; }
.space-row .button-red:hover::after { display: none; }
.input-text-fake {
	display: block;
	width: 223px;
	margin-right: 15px;
}
.space-row .button-red .button-pic { margin-right: 5px; }
.space-row .button-red .button-pic img { height: 14px; }
 @media (max-width: 768px) {
.input-text-fake {
	width: 50%;
	margin-right: 6px;
}
}

.form-group input.addr-zip {
	width: 5vw;
	text-align: center;
	background: none;
	border: 0 !important;
}